* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    120.11deg,
    #c14a06 6.3%,
    rgba(136, 50, 1, 0.26) 84.11%
  );
  /* overflow: hidden; */
}

.o-info-container {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100vw;
  height: 100vh;
}

.o-profile {
  position: relative;
  width: 400px;
  max-width: 90%;
  height: 600px;
  background: #f2f2f2;
  border-radius: 0px 0px 0.625rem 0.625rem;
  left: 2rem;
  top: 0.4rem;
  z-index: 3;
}

.o-profile .o-img-bg-profile img {
  max-width: 25.0625rem;
}

.o-profile .o-img-profile {
  position: relative;
  left: 7.5rem;
  bottom: 7.9375rem;
  width: 12rem;
  height: 12rem;
}

.o-img-profile img {
  max-width: 10rem;
  border-radius: 100%;
  border: 0.25rem solid #fdfdfd;
}

.o-profile h1 {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin: -10rem 0 -2rem 0;
}

.o-profile h2 {
  position: relative;
  text-align: center;
  text-transform: capitalize;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.1875rem;
  color: #ff6d1b;
  margin: 2rem 0 0.5em 0;
}
.o-profile h3 {
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  text-transform: lowercase;
  color: #919191;
  margin: 0.2rem;
}

.o-profile .o-profile-info {
  position: absolute;
  margin: 0.5rem 2.5rem;
}

.o-profile-info p {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-align: justify;
  text-transform: lowercase;
  color: #000000;
}

/*--------------------Project list-------------------- */
.o-info-container .o-projects-list {
  position: absolute;
  width: 800px;
  max-width: 90%;
  height: 580px;
  left: 420px;
  top: 15px;
  background-color: #e0e2e2;
  border-radius: 10px;
  z-index: 1;
}

.o-navegation-tabs {
  position: relative;
  margin: 0 0 0 10px;
}

ul.o-tabs {
  width: 100%;
  background-color: #fdfdfd;
  list-style: none;
  border-radius: 10px 10px 0 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  
}

ul.o-tabs li{
  width: 50%;
}

.o-tabs .o-active {
  background-color: #fa945c;
  color: #fff;
  
}

ul.o-tabs li a {
  color: #000000;
  text-decoration: none;
  font-size: 24px;
  display: block;
  padding: 14px 0;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}

.o-section {
  position: relative;
  width: 730px;
  height: 730px;
  margin: 10px 50px;
}

.o-section h1 {
  padding: 10px 0 10px 0;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 29px;
  text-decoration-line: underline;
  text-align: left;
  color: #000000;
}

.o-section .o-btn{
  position: absolute;
  width: 45px;
  height: 45px;
  font-size: 25px;
  text-align: center;
  background-color: rgba(255, 255, 255,.85) ;
  border-radius: 60%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  line-height: 45px;
  
}

.o-btn:hover{
  cursor: pointer;
  transform: scale(1.2);
}

.o-back{
  left: -35px;
  top: 200px;
}

.o-forward{
  right:0px;
  top: 210px;
}

.o-projecTab-item{
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 700px;

}

.o-projecTab-item img{
  width: 600px;
  height: 400px;
  object-fit: cover;
  border: 8px solid #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.o-projecTab-text{
  width: 90%;
  position: absolute;
  bottom:0;
  padding: 5px 24px;
  
}

.o-projecTab-text h2, .o-projecTab-text p{
  max-width: 100%;
  max-height: 100%;
  word-break: break-all;
  background: rgba(142, 142, 142, 0.55);
}



