* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    120.11deg,
    #c14a06 6.3%,
    rgba(136, 50, 1, 0.26) 84.11%
  );
  overflow: hidden;
}

.o-info-container {
  position: relative;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 80%;
  height: 100%;
  max-width: 1000px;
  margin: 0 5%;
}

.o-profile {
  /*   position: relative; */
  display:flex ;
  flex-direction: column;
  width: 100%;
  max-width: 401px;
  height: 610px;
  max-height: 640px;
  background: #f2f2f2;
  border-radius: 0px 0px 0.625rem 0.625rem;
  left: 2rem;
  top: 0.4rem;
  z-index: 3;
  margin: 10px 10px 0 32px  ;
}

.o-profile .o-img-bg-profile img {
  width: 100%;
  height: auto;
}

.o-profile .o-img-profile {
  position: relative;
  left: 30%;
  bottom: 25%;
  width: 100%;
  height: auto;
}

.o-img-profile img {
  width: 45%;
  height: auto;
  border-radius: 100%;
  border: 0.25rem solid #fdfdfd;
}

.o-profile h1 {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin: -10rem 0 -2rem 0;
}

.o-profile h2 {
  position: relative;
  text-align: center;
  text-transform: capitalize;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.1875rem;
  color: #ff6d1b;
  margin: 2rem 0 0.5em 0;
}
.o-profile h3 {
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  text-transform: lowercase;
  color: #919191;
  margin: 0.2rem;
}

.o-profile .o-profile-info {
  /* position: absolute; */
  margin: 0.5rem 2.5rem;
}

.o-profile-info p {
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  text-align: justify;
  text-transform: initial;
  color: #000000;  
}

/*--------------------Project list-------------------- */
.o-projects-list {
  position: absolute;
  width: 100%;
  max-width: 800px;
  height: 580px;
  left: 420px;
  top: 20px;
  background-color: #e0e2e2;
  border-radius: 10px;
  z-index: 1;
}

.o-navegation-tabs {
  position: relative;
  margin: 0 0 0 10px;
}

ul.o-tabs {
  width: 100%;
  background-color: #fdfdfd;
  list-style: none;
  border-radius: 10px 10px 0 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  
}

ul.o-tabs li{
  width: 50%;
}

.o-tabs .o-active {
  background-color: #fa945c;
  color: #fff;
  
}

ul.o-tabs li a {
  color: #000000;
  text-decoration: none;
  font-size: 24px;
  display: block;
  padding: 14px 0;
  text-align: center;
  font-style: normal;
  font-size: 24px;
  line-height: 29px;
}

.o-section {
  position: relative;
  width: 730px;
  height: 730px;
  margin: 10px 50px;
}

.o-section h1 {
  padding: 10px 0 10px 0;
  font-style: normal;
  font-size: 20px;
  line-height: 29px;
  text-align: left;
  color: #000000;
}

.o-section .o-btn{
  position: absolute;
  width: 45px;
  height: 45px;
  font-size: 25px;
  text-align: center;
  background-color: rgba(255, 255, 255,.85) ;
  border-radius: 60%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  line-height: 45px;
  
}

.o-projecTab{
  position: relative;
  width: 100%;
  max-width: 1000px;
}

.o-projecTab h1{
  font-weight: 500;
}

.o-btn:hover{
  cursor: pointer;
  transform: scale(1.2);
}

.o-back{
  left: -35px;
  top: 200px;
}

.o-forward{
  right:0px;
  top: 210px;
}

.o-projecTab-item{
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 700px;

}

.o-projecTab-item img{
  width: 85.5%;
  height: 400px;
  object-fit: cover;
  border: 8px solid #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.o-projecTab-text{
  width: 90%;
  position: absolute;
  bottom:0;
  padding: 5px 24px;
  
}

.o-projecTab-text h2, .o-projecTab-text p{
  max-width: 100%;
  max-height: 100%;
  background: rgba(128, 56, 14,.75);
  color: #fff;
}


.o-skill-item{
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50% ;
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0 0 5px 0;
  
}

.o-skill-item img{
  position: absolute;
  top: 7px;
  left: 7px;
  width: 46px;
  height: 46px;
  z-index: 5;  
}

.o-skill-bar{ 
  position: absolute;
  top: 20px;
  left: 40px;
  width: 400px;
  height: 10px;
  background: #FFFAFA;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: -1;
}

.o-skill1::before{
  display: block;
  content: '';
  background: #ff6d1b;
  width: 60%;
  height: 10px ;
  top: 20px;
  left: 50px;
  
}
.o-skill2::before{
  display: block;
  content: '';
  background: #ff6d1b;
  width: 40%;
  height: 10px ;
  top: 20px;
  left: 50px;
}
.o-skill3::before{
  display: block;
  content: '';
  background: #ff6d1b;
  width: 50%;
  height: 10px ;
  top: 20px;
  left: 50px;
  
}

.o-skill1::after{
  position: absolute;
  content: '60%';
  top: -5px;
  left: 410px;
  font-weight: 600;
}

.o-skill2::after{
  position: absolute;
  content: '40%';
  top: -5px;
  left: 410px;
  font-weight: 600;
}

.o-skill3::after{
  position: absolute;
  content: '50%';
  top: -5px;
  left: 410px;
  font-weight: 600;
}

.o-line{
  display: flex;
  justify-content: space-between;
  margin: 10px 0 0 0;
  width: 80%;
  height: 0px;
  border: 1px solid #b0b0b0;
}

.o-hobbie{
  position: relative;
  left: 10px;
  top: 10px;
  width: 108px;
  height: 108px;
  border-radius: 50% ;
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.o-hobbie h3{
  font-size: 15px;
  top: 10px;
  position: relative;
  text-align: center;
  word-break: break-all;
}

.o-hobbie h3.o-p{
  font-size: 13.3px;
}

.o-hobbie img {
  position: absolute;
  top: 36px;
  left: 30px;
  width: 50px;
  height: 50px;
}

@media screen and (max-width:600px){

  .o-section h1 {
    padding: 10px 0 10px 0;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 29px;
    text-decoration-line: underline;
    text-align: left;
    color: #000000;
  }
  .o-projects-list{
    position: relative;
    left: 30px;    
  }

  .o-navegation-tabs {
    position: relative;
    margin: 0;
  }

  ul.o-tabs{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  

  ul.o-tabs li{
    width: 70%;    
  }

  ul.o-tabs li a{
    font-size: 14px;
  }

  .o-btn:hover{
    cursor: pointer;
    transform: scale(1.2);
  }
  
  .o-back{
    position: absolute;
    left: -35px;
    top: 260px;
  }
  
  .o-forward{
    position: absolute;
    left: 190px;
    top: 260px;
  }

  .o-projecTab-item{
    display: flex;
    position: relative;
    right:80px;
    width: 50%;
    height: 50%;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 400px;
  
  }

  .o-projecTab-item img{
    width: 70%;
    height: 12.5rem;
    object-fit: cover;
    border: 8px solid #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .o-projecTab-text{
    width: 80%;
    position: absolute;
    bottom:0;
    padding: 5px 24px;
    
  }
  
  .o-projecTab-text h2, .o-projecTab-text p{
    font-size: 16px;
    max-width: 100%;
    max-height: 100%;
    word-break: break-all;
    background: rgba(142, 142, 142, 0.55);
  }


  .o-skill-item{
    position: relative;
    width: 25px;
    height: 25px;
    border-radius: 50% ;
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0 0 5px 0;
    font-size: 0.625rem;
    
  }

  .o-skill-item img{
    position: absolute;
    top: 5px;
    left: 4px;
    width: 16px;
    height: 16px;
    z-index: 5;  
  }
  
  .o-skill-bar{ 
    position: absolute;
    top: 10px;
    left: 10px;
    width: 150px;
    height: 5px;
    background: #FFFAFA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: -1;
  }
  
  .o-skill1::before{
    display: block;
    content: '';
    background: #ff6d1b;
    width: 60%;
    height: 5px ;
    top: 20px;
    left: 50px;
    
  }
  .o-skill2::before{
    display: block;
    content: '';
    background: #ff6d1b;
    width: 40%;
    height: 5px ;
    top: 20px;
    left: 50px;
  }
  .o-skill3::before{
    display: block;
    content: '';
    background: #ff6d1b;
    width: 50%;
    height: 5px ;
    top: 20px;
    left: 50px;
    
  }
  
  .o-skill1::after{
    position: absolute;
    content: '60%';
    top: -5px;
    left: 155px;
    font-weight: 600;
  }
  
  .o-skill2::after{
    position: absolute;
    content: '40%';
    top: -5px;
    left: 155px;
    font-weight: 600;
  }
  
  .o-skill3::after{
    position: absolute;
    content: '50%';
    top: -5px;
    left: 155px;
    font-weight: 600;
  }
  .o-line{
    
    display: flex;
    justify-content: center;  
    margin: 10px 0 0 0;
    height: 0px;
    border: 1px solid #b0b0b0;
  }
  .o-line h1{
    text-align: left;
  }

  .o-hobbie{
    position: relative;
    left: -200px;
    top: 35px;
    width: 70px;
    height: 70px;
    margin: 10px;
    border-radius: 50% ;
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .o-hobbie h3{
    font-size: 8px;
    top: 5px;
    position: relative;
    text-align: center;
    word-break: break-all;
  }
  
  .o-hobbie img {
    position: absolute;
    top: 22px;
    left: 16px;
    width: 36px;
    height: 36px;
  }

  .o-hobbie h3.o-p{
    font-size: 8px;
  }



}



