
:root{
    --borderColor: 1px solid white;
    --titulo:#fff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
        
}
body{
   background-image: url("resources/bg-profile.jpg");
   background-size: cover;
}

.o-info-container{
    position: relative;
    margin: auto;
    width: 100%;
    height: 90%;
    background:rgba(63, 63, 63, 0.5);
    text-align: center;
}

/* Profile */
.o-profile{
    text-align: center;
}


.o-profile .o-img-profile{
    max-width: 200px;
    max-height: 200px;
    border-radius: 100px;
    box-shadow: 0 2px 4px 3px;
    
}

.o-profile .o-profile-info{
    color: #fff;
    margin: 0 0 30px 0;
}

.o-profile p{
    margin:0 0 10px 0;
}

/* List projects */

.o-list-project {
    margin: 10px 20px 20px 20px;
    font-size: 1rem; 
    color: white;
    text-align: center;
    display: flex;

}

.o-list-project  >h1{
    position: absolute;
    margin:-10px 0 0 30px;
    font-size: 2rem;
    text-transform: uppercase;
    color:var(--titulo);

}

.o-list-project .o-img-project{
    text-align: center;
    
}

.o-info-project{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.o-info-project h1{
    text-transform: uppercase;
    color:var(--titulo);
    margin: 30px 0 10px 0;
}

.o-info-project img{
    max-width:350px;
    max-height:350px;
}

.o-info-project .o-img-profile{
    align-items: stretch;
    
}

.o-info-project p{
    position: relative;
    top: 10px;
}

