
:root{
    --borderColor: 1px solid white;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
        
}
body{
   background-image: url("resources/bg-profile.jpg");
   background-size: cover;
}

.o-info-container{
    
    margin: auto;
    width: 70%;
    height: 70%;
    background:rgba(63, 63, 63, 0.2);
    text-align: center;
}

/* Profile */
.o-profile{
    text-align: center;
}


.o-profile .o-img-profile{
    max-width: 200px;
    max-height: 200px;
    border-radius: 100px;
    box-shadow: 0 2px 4px 3px;
    
}

.o-profile .o-profile-info{
    color: #fff;
    margin: 0 0 30px 0;
}

.o-profile p{
    margin:0 0 10px 0;
}




/* List projects */

.o-list-project{
    margin: 20px;
    color: white;
    text-align: center;
}

.o-list-project h1{
    font-size: 2rem;
    text-transform: uppercase;
    color:#3cfaab;
    text-align: left;
}

.o-list-project {
    margin: 10px 20px 20px 20px;
    font-size: 1rem; 
    color: white;
    text-align: center;

}


.o-info-project{
    width: 100%;
    height: 100%;
    margin: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.o-info-project img{
    max-width: 55%;
}


.o-list-project .o-img-project{
    text-align: center;
    border: 1px solid rgba(255, 255, 255, .9);
    
}