
:root{
    --titleColor:#fff;
    --borderLine:1px solid #fff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
        
}
body{
   background-image: url("resources/bg-profile.jpg");
   background-size: cover;
}

.o-info-container{
    position: relative;
    margin: auto;
    width: 100%;
    height: 90%;
    background:rgba(63, 63, 63, 0.5);
    text-align: center;
}

/* Profile */
.o-profile{
    text-align: center;
}


.o-profile .o-img-profile{
    max-width: 200px;
    max-height: 200px;
    border-radius: 100px;
    box-shadow: 0 2px 4px 3px;
    
}

.o-profile .o-profile-info{
    color: #fff;
    margin: 0 0 30px 0;
}

.o-profile p{
    margin:0 0 10px 0;
}

/* List projects */

.o-list-project {
    position: relative;
    margin: 10px 20px 20px 20px;
    top: 40px;
    font-size: 1rem; 
    color: white;
    text-align: center;
    display: flex;

}



.o-list-project  >h1{
    position: absolute;
    top: -10px;
    margin:-30px 0 0 30px;
    font-size: 2rem;
    color:rgba(64, 240, 137, 0.979);

}

.o-info-project{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: var(--borderLine);
    background:rgba(127, 140, 141, 0.4);
    box-shadow: 0 4px 10px rgba(255, 255, 255, .2) ;
    transition: .3s;
}

.o-info-project:hover{
    box-shadow: 0 2px 20px rgba(255, 255, 255, .4);
}


.o-list-project .o-img-project{
    text-align: left;
    width: 100%;
    height: auto;
   
}

.o-info-project h1{
    width: 100%;
    color:var(--titleColor);
    font-size: 20px;
    padding: 10px;
    background-color: rgb(30, 188, 97);
}


.o-info-project p{
    position: relative;
    margin: 10px;
    text-align: start;
}

